@inherits LayoutComponentBase

<header class="site-header" sticky-top py-1>
    <nav class="container d-flex flex-column flex-md-row justify-content-between" data-bs-theme="dark">
      
        <NavLink class="py-2 d-none d-md-inline-block" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>

        <NavLink class="py-2 d-none d-md-inline-block" href="cashier-console">
            <span class="oi oi-plus" aria-hidden="true"></span> Sell
        </NavLink>

        <NavLink class="py-2 d-none d-md-inline-block" href="categories">
            <span class="oi oi-plus" aria-hidden="true"></span> Categories
        </NavLink>

        <NavLink class="py-2 d-none d-md-inline-block" href="products">
            <span class="oi oi-plus" aria-hidden="true"></span> Products
        </NavLink>

        <NavLink class="py-2 d-none d-md-inline-block" href="transactions">
            <span class="oi oi-plus" aria-hidden="true"></span> Transactions
        </NavLink>

        <LoginDisplay></LoginDisplay>
    </nav>
</header>

<main class="content px-4">
    @Body
</main>


