.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgb(0, 0112, 6);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color:#00ff24;
  text-decoration: none;


}

.custom-section h1.display-3.fw-bold {
    color: #000000;
}

.custom-heading {
    color: rgb(0, 0112, 6)
}


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
