@page "/cashier-console"
<div class="row">
    <dib class="col-7"><h3>Cashier's Console'</h3></dib>
    <div class="col-2"><label for="cashier">Cashier Name:</label></div>
    <div class="col-3">
        <div class="form-group">
            <input type="text" id="cashier" class="form-control" @bind-value="cashierName" />
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col">
        <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
        <br/>
        <SellProductComponent
                              CashierName="@cashierName"
                              SelectedProduct="selectedProduct"
                              OnProductSold="SellProduct"></SellProductComponent>
    </div>
    <div class="col">
        <TodayTransactionComponent @ref="transactionComponent"></TodayTransactionComponent>
    </div>
</div>


@code {
    private TodayTransactionComponent transactionComponent;

    private Product selectedProduct;
    private string cashierName;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        transactionComponent.LoadTransactions(cashierName);
    }

}

